*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: Helvetica, sans-serif;
    background-color: #222;
    color: white;
    overflow-x: hidden;
}

#box {
    width: 200px;
    height: 200px;
    background-color: rgb(255, 214, 214);
    border-radius: 100%;
    cursor: pointer;
    position: absolute;
    transition: all cubic-bezier(0.175, 0.885, 0.32, 1.275) ease-in-out;
}
